<div class="modal fade" id="showAzkabanJobModal" tabindex="-1" role="dialog" aria-labelledby="showAzkabanJobModal"
     data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ editType }}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="projectName" class="control-label">项目名称 (project):</label><br>
                        <span style="font-size: 16px;color: #204d74" id="projectName">{{jobForm.project}}</span>
                    </div>
                    <div class="form-group">
                        <label for="flowName" class="control-label">工作流名称 (flow):</label><br>
                        <span style="font-size: 16px;color: #204d74" id="flowName">{{jobForm.flow}}</span>
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label">所属用户 (user):</label><br>
                        <span style="font-size: 16px;color: #204d74" id="username">{{jobForm.user}}</span>
                    </div>

                    <div class="form-group">
                        <label for="emailAddress" class="control-label">通知邮箱 (email):</label><br>
                        <span style="font-size: 16px;color: #204d74" id="emailAddress">{{jobForm.email}}</span>
                    </div>

                    <div class="form-group">
                        <label for="description" class="control-label">项目描述 (description):</label><br>
                        <span style="font-size: 16px;color: #204d74" id="description">{{jobForm.description}}</span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="showJobExecuteHistory(jobForm.project,jobForm.flow)">运行记录</button>
            </div>
        </div>
    </div>
</div>