<div th:with="pageTitle = 'Azkaban任务执行记录'" th:include="comm/public/header"
     xmlns:th="http://www.w3.org/1999/xhtml"></div>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="comm/public/nav"></div>
<div id="app">
    <div class="container">
        <div class="alert alert-info">
            <a href="#"></a>
            <strong style="color: #d9534f">系统消息：</strong><span style="color: #d9534f"
                                                               id="alertMsg">系统的一些提示信息将在此处显示！</span>
        </div>
        <input id="waitToCancelJobExecId" type="hidden" value="0"/>
        <!-- <div class="clearfix">
             <button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
                     class="btn btn-info pull-right" style="margin-bottom: 20px; ">搜索
             </button>
         </div>-->
        <table class="table table-hover table-bordered">
            <tr>
                <th>任务执行Id</th>
                <th>项目名称</th>
                <th>工作流名称</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>运行时长</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr th:each="item : ${executionsHistory.executions}">
                <td th:text="${{item.execId}}"></td>
                <td th:text="${{executionsHistory.project}}"></td>
                <td th:text="${{executionsHistory.flow}}"></td>
                <td th:text="${{#dates.format(item.startTime,'yyyy-MM-dd hh:mm:ss')}}"></td>
                <td th:text="${{#dates.format(item.endTime,'yyyy-MM-dd hh:mm:ss')}}"></td>
                <td>
                    <span leo:diffTime="${item.endTime - item.startTime}"></span>
                </td>
                <td>
                    <div class="job-history-executor-status" th:text="${{item.status}}"
                         th:classappend="${{item.status}}"></div>
                </td>
                <td>
                    <a type="button" id="cancelbtn" class="btn btn-danger btn-sm"
                       href="javascript:void(0)"
                       th:onclick="killFlow([[${item}]]);" th:text="停止任务">
                    </a>
                </td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a>
                        <span th:text="${{totalPage}}"></span>
                    </a>
                </li>
                <li th:if="${not isFirstPage}">
                    <a href="javascript:void(0)" th:onclick="goPage([[${previousPage}]]);" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li th:each="item : ${pageSliders}">
                    <a th:if="${currentPage eq item}" href="javascript:void(0)" th:text="${{item}}"
                       style="background: #204d74;color: white;" th:onclick="'javascript:changePage('+${item}+')'"></a>
                    <a th:if="${currentPage ne item}" href="javascript:void(0)" th:text="${{item}}"
                       th:onclick="'javascript:changePage('+${item}+')'"></a>
                </li>
                <li th:if="${not isLastPage}">
                    <a href="javascript:void(0)" th:onclick="goPage([[${nextPage}]]);" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="cancelAzkabanJobRunModel" tabindex="-1" role="dialog"
         aria-labelledby="cancelAzkabanJobRunModel"
         data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">停止正在执行的Azkaban任务</h4>
                </div>
                <div class="modal-body">
                    <span style="font-size:18px;color: red">确认立即停止正在执行的所选任务？</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" th:onclick="javascript:cancelAzkabanJob()">立即执行
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("[data-toggle='popover']").popover();
    });

    /**
     * @return {string}
     */
    function getUrlRelativePath() {
        const url = document.location.toString();
        const arrUrl = url.split("//");

        const start = arrUrl[1].indexOf("/");
        let relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if (relUrl.indexOf("?") !== -1) {
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }

    function getUrlPara() {
        const url = document.location.toString();
        const arrUrl = url.split("?");
        return arrUrl[1];
    }

    function changePage(item) {
        let url = getUrlRelativePath();
        const params = getUrlPara().split("&");
        const pageNoParam = params[2].split("=")[0] + "=" + item;
        url = url + "?" + params[0] + "&" + params[1] + "&" + pageNoParam + "&" + params[3];
        console.log(params);
        window.location.href = url;
    }

    function goPage(pageNo) {
        let url = getUrlRelativePath();
        const params = getUrlPara().split("&");
        const pageNoParam = params[2].split("=")[0] + "=" + pageNo;
        url = url + "?" + params[0] + "&" + params[1] + "&" + pageNoParam + "&" + params[3];
        window.location.href = url;
    }

    function killFlow(item) {
        console.log(item);
        if (item.status !== 'RUNNING') {
            $('#alertMsg').text('只能停止正在运行的任务！');
        } else {
            $('#waitToCancelJobExecId').val(item.execId)
            $('#cancelAzkabanJobRunModel').modal('show')
        }
    }

    function cancelAzkabanJob() {
        const execId = $('#waitToCancelJobExecId').val();
        const url = '/api/v1/azkaban/cancel/flow/' + execId;
        axios({
            url: url,
            method: 'get'
        }).then(function (res) {
            const resData = res.data;
            console.log(resData);
            if (resData.success) {
                window.location.reload()
            } else {
                $('#alertMsg').text(data.msg);
            }
        })
    }
</script>
</body>
</html>
