<div th:with="pageTitle = '流水监控'" th:include="comm/public/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="comm/public/nav"></div>

<div id="app" class="container">
    <div th:include="comm/public/alert" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <form class="bs-example bs-example-form" role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{retailerSelected}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="(retailer,index) in retailerList"><a @click="selectRetailer(retailer)">
                                {{retailer.retailerName}}</a>
                            </li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input id="pickDate" type="text" class="form-control" placeholder="选择日期"
                           style="width :200px;margin-left: 40px; " readonly>
                    <span class="input-group-btn" style="margin-left: -80px">
						<button class="btn btn-info" type="button" @click="downloadData()">
							开始下载
						</button>
					</span>
                </div><!-- /input-group -->
            </div>
        </div><!-- /.row -->
    </form>
    <table class="table table-hover table-bordered">
        <tr>
            <th>任务编号</th>
            <th>零售商编号</th>
            <th>数据日期</th>
            <th>远程地址</th>
            <th>本地地址</th>
            <th>提交时间</th>
            <th>结束时间</th>
            <th>数据类型</th>
            <th>任务状态</th>
            <th>选择操作</th>
        </tr>
        <tr v-for="(job,index) in downloadJobs">
            <td>{{job.id}}</td>
            <td>{{job.retailerCode}}</td>
            <td>{{job.dataDate}}</td>
            <td>{{job.remotePath}}</td>
            <td>{{job.localPath}}</td>
            <td>{{job.submitTime}}</td>
            <td>{{job.endTime}}</td>
            <td>{{job.dataType}}</td>
            <td>
                <div class="status" :class="job.mark">{{job.mark}}</div>
            </td>
            <td>
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" data-toggle="modal" data-target="#stopDownloadJobModal"
                            data-whatever="@mdo" class="btn btn-danger" @click="showStopJobModal(job)">终 止
                    </button>
                    <button type="button" class="btn btn-info">日 志</button>
                    <button type="button" data-toggle="modal" data-target="#deleteDownloadJobModal"
                            data-whatever="@mdo" class="btn btn-danger" @click="showDeleteJobModal(job)">删 除
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <div th:include="comm/task/deleteDownloadJobModel"></div>
    <div th:include="comm/task/stopDownloadJobModel"></div>
</div>
<script type="text/javascript">
    let currentDay = initDate();

    function initDate() {
        const date = new Date();
        const year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();
        if (month < 10) {
            month = "0" + month
        }
        if (day < 10) {
            day = "0" + day
        }
        return year + "-" + month + "-" + day
    }

    $(function () {
        $('#pickDate').val(initDate());
        $("[data-toggle='popover']").popover();
        $('#pickDate').datetimepicker({
            format: 'yyyy-mm-dd',  //格式  如果只有yyyy-mm-dd那就是0000-00-00
            autoclose: true,//选择后是否自动关闭
            minView: 2,//最精准的时间选择为日期  0-分 1-时 2-日 3-月
            language: 'zh-CN', //中文
            weekStart: 1, //一周从星期几开始
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            // daysOfWeekDisabled:"1,2,3", //一周的周几不能选 格式为"1,2,3"  数组格式也行
            todayBtn: true,  //在底部是否显示今天
            todayHighlight: false, //今天是否高亮显示
            keyboardNavigation: true, //方向图标改变日期  必须要有img文件夹 里面存放图标
            showMeridian: false,  //是否出现 上下午
            initialDate: new Date(),
            startDate: "2017-01-01" //日期开始时间 也可以是new Date()只能选择以后的时间
        }).on("changeDate", function () {
            currentDay = $('#pickDate').val();
        });
    });

    new Vue({
        el: '#app',
        data: {
            retailerList: [{}],
            fileList: [],
            downloadJobs: [],
            editType: "234242",
            deleteJobId: 0,
            stopJobId: 0,
            retailerSelected: '美宜佳',
            retailerCodeSelected: 'R10001',
            msg: "日常零售商数据采集!"
        },
        created() {
            this.initRetailer();
            this.listDownloadTasks()
        },
        methods: {
            downloadData() {
                const _this = this;
                _this.download(_this.retailerCodeSelected, currentDay, false)
            },
            download(retailerCode, day, overwrite) {
                const _this = this;
                const url = "/retailer/data/ftp?retailerCode=" + retailerCode
                    + "&dataDate=" + day + "&dataType=ftp" + "&overwrite=" + overwrite + "&clearLocalFile=" + false;
                axios.get(url).then(function (res) {
                    const success = res.data.success;
                    if (success) {
                        _this.msg = retailerCode + " " + day + " 日的FTP数据下载任务提交成功！";
                        window.location.reload();
                    } else {
                        _this.msg = res.data.msg;
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _this.msg = reason;
                });
            },
            selectRetailer(retailer) {
                this.retailerSelected = retailer.retailerName;
                this.retailerCodeSelected = retailer.retailerCode
            },
            initRetailer() {
                const url = "/api/retailer/list/config";
                const _this = this;
                axios.get(url).then(function (res) {
                    console.log(res);
                    _this.retailerList = res.data.payload;
                }).catch(function (reason) {
                    console.log(reason)
                });
            },
            listDownloadTasks() {
                const url = "/retailer/data/list/tasks";
                const _this = this;
                axios.get(url).then(function (res) {
                    _this.downloadJobs = res.data.payload.taskItems
                }).catch(function (error) {
                    console.log(error)
                });
            },
            showDeleteJobModal(job) {
                this.deleteJobId = job.id;
                this.editType = "确认删除下载任务：" + job.id + " ?";
            },
            confirmDeleteDownloadJob() {
                console.log(this.deleteJobId);
                const url = "/retailer/data/delete/task/" + this.deleteJobId;
                const _this = this;
                axios.get(url).then(function (res) {
                    const success = res.data.success;
                    if (success) {
                        _this.msg = "成功删除下载任务：" + _this.deleteJobId + "!";
                        window.location.reload();
                    } else {
                        _this.msg = res.data.msg;
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _this.msg = reason;
                });
            },
            showStopJobModal(job) {
                this.stopJobId = job.id;
                this.editType = "确认终止下载任务：" + job.id + " ?";
            },
            confirmStopDownloadJob() {
                console.log(this.stopJobId);
                const url = "/retailer/data/stop/task/" + this.stopJobId;
                const _this = this;
                axios.get(url).then(function (res) {
                    const success = res.data.success;
                    if (success) {
                        _this.msg = "成功终止下载任务：" + _this.stopJobId + "!";
                        window.location.reload();
                    } else {
                        _this.msg = res.data.msg;
                    }
                }).catch(function (reason) {
                    console.log(reason);
                    _this.msg = reason;
                });
            }
        }
    });
</script>
</body>
</html>
